@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond|Fira+Sans&display=swap');

/* ==========================================================================
   GRID
   ========================================================================== */
 html {
 	overflow-x: hidden;
 	
 }

 body {
 	display: grid;
 	grid-template-columns: 10% repeat(2, 1fr) 10%;
 	grid-template-rows: auto;
 	grid-column-gap: 20px;
 	grid-row-gap: 20px;
 	font-family: 'Fira Sans', Sans-Serif;
 	font-size: 18px;
 	background: #fbfbfb;
 	width: 100vw;
 	overflow-x: hidden;
 }

 h1, h2, h3, h4 {
 	font-family: 'Cormorant Garamond', serif;
 }

 h1 {

 }

 h2 {
    font-size: 3rem;
    line-height: 3rem;
    margin: 0;
    text-transform: lowercase;
}

h3 {
    margin: 0;
    font-size: 2em;
}

header {
    grid-column-start: 2;
    grid-column-end: 4;
}

main {
    grid-column-start: 1;
    grid-column-end: 5;
    /*border: solid green;*/
    display: grid;
 	grid-template-columns: 10% repeat(2, 1fr) 10%;
 	grid-template-rows: repeat(7, auto);
 	grid-column-gap: 20px;
 	grid-row-gap: 20px;
 	max-width: 1400px;
    margin: 0 auto;
}

#top, 
#charleston,
#event,
#registry,
#faqs,
#rsvp {
    grid-column-start: 2;
    grid-column-end: 4;
}

#top:focus, 
#charleston:focus,
#event:focus,
#registry:focus,
#faqs:focus,
#rsvp:focus {
    outline: none
}


footer {
    grid-column-start: 2;
    grid-column-end: 4;
    margin-top: 5rem;
    text-align: center;
    font-size: .75em;
    padding: 3rem 0 1rem;
}

/*section {
    border: dashed 1px #d4d4d4;
}*/

.svg-before {
    position: absolute;
    left: -10%;
    top: -10%;
    width: 15%;
    height: 100%;
    z-index: -1;
}

.svg-before.large {
	width: 20%;
	left: -15%;
}

.svg-after {
    position: absolute;
    bottom: -10%;
    right: -13%;
    width: 32%;
    transform: scaleX(-1) rotate(-35deg);
    z-index: -1;
}

.svg-after.small {
	transform: none;
	right: -15%;
	width: 24%;
}

a {
    color: #9c3848;
    text-decoration: none;
    position: relative;
    display: inline-block;
}

a::after {content: '';height: 1px;left: -.5%;bottom: 4px;width: 101%;background: rgba(222, 125, 148, .5);position: absolute;z-index: 1;transition: all .25s ease;mix-blend-mode: multiply;}

a:hover::after {
    height: 100%;
}

/* ==========================================================================
   HEADER
   ========================================================================== */
header {
    padding: 1rem;
    position: relative;
    z-index: 9;
}

header::after {
	content: '';
	position: absolute;
	left: -100vw;
	width: 200vw;
	height: 120%;
	background: white;
	top: 0;
	z-index: -1;
	border-bottom: 2px solid #debf72;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul li {
    margin: 0 1rem;
}

nav ul li a {
    text-align: center;
}

header.fixed nav {
    font-size: .9em;
}

header.fixed {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: .5rem;
}

nav {
    transition: all .25s ease;
}

header.fixed::after {
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
}

.hamburger {
    width: 30px;
    height: 14px;
    display: block;
    position: relative;
    display: none;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.hamburger span {
    width: 100%;
    height: 2px;
    background: #a04150;
    display: block;
    transition: all .25s ease;
}

.hamburger .bun:last-child {
    position: absolute;
    bottom: 0;
    left: 0;
}

.hamburger .meat {
    position: absolute;
    top: calc(50% - .65px);
    left: 0;
}

.hamburger.close .meat {
    width: 0;
}

.hamburger.close span {
    transform: translate(-1px, 6px) rotate(45deg);
}

.hamburger.close span:last-child {
    transform: translate(-2px, -7px) rotate(-45deg);
}

/* ==========================================================================
   DIVIDERS
   ========================================================================== */
.divider {
    grid-column-start: 1;
    grid-column-end: 5;
    background: black;
    height: 40vh;
    position: relative;
    margin: 0 0 7rem 0;
}

.divider::after {
	content: '';
	position: absolute;
	left: -100vw;
	top: 0;width: 200vw;
	height: 100%;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	filter: grayscale(1);
}

.divider.church::after {
    background-image: url(../assets/adam-kring-So5G1h3W3Ro-unsplash.jpg);
}

.divider.trees::after {
    background-image: url(../assets/nathan-bingle-KuERyDZN-QM-unsplash.jpg);
}

.divider.street::after {
    background-image: url(../assets/jonathan-zeman-vBwgMWPxtS4-unsplash.jpg);
}

.divider.brick::after {
    background-image: url(../assets/andrew-charney-wfZw7a5z4dc-unsplash.jpg);
}

/* ==========================================================================
   TOP
   ========================================================================== */
#top {
    text-align: center;
    height: 70vh;
    display: flex;
    flex-direction: column;
    margin-bottom: 7rem;
}

.countdown {
    background-image: url(../assets/border-1.svg);
    width: 250px;
    height: 250px;
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    margin: -20px auto 0;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-weight: 600;
    font-family: 'Cormorant Garamond', Serif;
    font-size: 3rem;
    line-height: 1rem;
    mix-blend-mode: multiply;
}

.number {
    font-size: 2em;
    font-family: 'Cormorant Garamond', Serif;
    text-align: center;
    line-height: 1.1em;
    margin-top: -1rem;
}

span.days {
    font-family: 'Fira Sans', Sans-Serif;
    font-size: 1rem;
}

.logo {
    margin-top: -10%;
    flex-grow: 1;
    display: flex;
    align-items: center;
}

.logo img {
    width: 100%;
}


/* ==========================================================================
	CHARLESTON
	========================================================================== */
#charleston {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
 	grid-template-rows: 1fr;
 	grid-column-gap: 20px;
 	grid-row-gap: 20px;
 	position: relative;
}

.history--n {
    grid-column-start: 1;
    grid-column-end: 3;
    background: white;
    padding: 2rem;
    border: solid 3px #debe70;
    position: relative;
    box-shadow: 0px 4px 10px rgba(53, 39, 41, 0.26);
}

.weather {
    grid-column-start: 1;
    grid-column-end: 3;
    text-align: center;
    position: relative;
    padding: 5rem;
    margin: 5rem 0 1rem;
}

.weather::after {
    content: '';
    position: absolute;
    left: -100vw;
    width: 200vw;
    top: 0;
    height: 100%;
    background: #fff;
    z-index: -1;
    border: 3px solid #db7089;
}

.weather-box {
    display: flex;
    justify-content: center;
}

.avg, 
.day {
    width: 44%;
    padding: 2%;
    font-family: 'Cormorant Garamond', Serif;
    font-size: 1.3em;
    line-height: 1.2em;
    position: relative;
}

.avg::after {
    content: '';
    width: 3px;
    height: 50%;
    background: #debf73;
    position: absolute;
    right: 0%;
    top: 25%;
}

.avg .temp, 
.day .temp {
    font-size: 4em;
    color: #a14055;
    line-height: 1em;
    position: relative;
}

.avg .temp::after, 
.day .temp::after {
    content: '°';
    position: absolute;
    right: -.35em;
    top: 0;
    font-size: .5em;
}

.high, 
.low {
    display: inline-block;
    width: 33%;
}

.degree {
    margin-left: .5em;
}

.to-do {
    grid-column-start: 1;
    grid-column-end: 3;
}

.split {
    display: flex;
}

.list {
    position: relative;
    background: white;
    border: solid 3px #debe70;
    padding: 2rem;
    margin: 5rem 0 12rem;
    box-shadow: 0px 4px 10px rgba(53, 39, 41, 0.26);
}

.list ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.after-list {
    position: absolute;
    right: calc(150px + 20%);
    bottom: -160px;
    width: 300px;
    height: 200px;
    padding: 0% 3% 0% 7%;
    z-index: 2;
    font-family: 'Cormorant Garamond', Serif;
    font-size: 1.75rem;
    line-height: 1.75rem;
    color: #222;
    background-image: url(../assets/stroke.png);
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

.list.eat {
    margin-bottom: 5rem;
}

.list.eat .after-list {
    right: auto;
    left: -50%;
}


/* ==========================================================================
	EVENT
	========================================================================== */
#event {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
 	grid-template-rows: 1fr;
 	grid-column-gap: 20px;
 	grid-row-gap: 20px;
}

.welcome-dinner, 
.ceremony, 
.reception {
    grid-column-start: 1;
    grid-column-end: 3;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 10%;
}

.left {
    width: 48%;
    margin-right: 2%;
    position: relative;
}

.left::after {
	content: '';
	position: absolute;
	right: -0%;
	top: 0;
	height: 100%;
	width: 3px;
	background: #db7089;
}

.right {
    width: 48%;
    margin-left: 2%;
}

#event .left img {
    max-width: 50%;
}

#event .left {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#event .right {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#event em {
    font-family: 'Cormorant Garamond', Serif;
    text-transform: lowercase;
    font-size: 1.2em;
}

/* ==========================================================================
	REGISTRY
	========================================================================== */
#registry {
	position: relative;
	padding: 3rem 0rem;
    text-align: center;
    margin: 3rem 0 6rem;
}

#registry .text::after {
	content: '';
    position: absolute;
    left: -100vw;
    width: 200vw;
    top: 0;
    height: 100%;
    background: #fff;
    z-index: -1;
    border: 3px solid #db7089;
}

/* ==========================================================================
	FAQS
	========================================================================== */
#faqs {
    margin-bottom: 7rem;
}

#faqs h2 {
    text-align: center;
    margin-bottom: 4rem;
}

#faqs .left {
    padding-right: 2rem;
    margin: 0;
}

#faqs .right {
    padding-left: 2rem;
    margin: 0;
}

/* ==========================================================================
	ACCORDIONS
	========================================================================== */
.accordion {
    margin-top: 0;
    position: relative;
}


.accordion dt a::before, 
.accordion dt a::after {
  content: '';
  position: absolute;
  left: 12px;
    top: calc(50% - 5px);
    height: 14px;
    width: 4px;
  background: #db7089;
  transition: all .25s ease;
}
 
.accordion dt a::after {
    transform: rotate(90deg);
}

.accordion dt a:hover::before, 
.accordion dt a:hover::after {
  background: #333;
}

.accordion dt.open a::before {
  height: 0;
}

.accordion dt a {
  display: block;
  color: initial;
  text-decoration: none;
  position: relative;
  padding: 0 0 0 2rem;
  text-transform: lowercase;
}

.accordion dt .accord-button {
    display: block;
    width: 50px;
    height: 100%;
    position: absolute;
    right: 0px;
    top: 0px;
}

.accordion dt .accord-button:before, 
.accordion dt .accord-button:after {
    content: "";
    position: absolute;
    width: 3px;
    height: 9px;
    transition: all .25s linear;
}

.accordion dt .accord-button:before {
    transform: translate(-2px, 0) rotate(180deg);
    left: calc(50% - -0.5px);
    top: calc(50% - 4.5px);
}

.accordion dt .accord-button.rotate:before {
    height: 0;
}

.accordion dt .accord-button:after {
    transform: translate(2px, 0) rotate(90deg);
    left: calc(50% - 3.5px);
    top: calc(50% - 4.5px);
}

.accordion dd {
  border-top: 0;
  padding: 1rem 0;
  margin: 0;
  display: none;
}

/* ==========================================================================
	RSVP
	========================================================================== */
#rsvp {
    margin: 3rem 0;
    /*text-align: center;*/
}

.card {
    background: white;
    padding: 2rem;
    border: solid 3px #debe70;
    position: relative;
    box-shadow: 0px 4px 10px rgba(53, 39, 41, 0.26);
}

#rsvp .svg-before.large {
    height: 300px;
    width: 250px;
    top: 0;
}

/* ==========================================================================
	RSVP FORM
	========================================================================== */
.cognito:not(.c-forms-actionBar) {
    margin: 0 !important;
    max-width: 100% !important;
}

fieldset.c-yesno-radiobuttons {
    font-size: 3em;
    width: 100% !important;
    font-family: 'Cormorant Garamond', Serif;
    margin-top: 2rem !important;
    border: 2px solid #db7089;
    /*padding-bottom: 2rem !important;*/
    text-align: center;
    margin-bottom: 2rem !important;
    text-transform: lowercase;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, .25);
}

fieldset.c-yesno-radiobuttons span {
    font-size: 1.35rem;
    color: #232323;
    margin-left: 6px;
    /* font-family: 'Cormorant Garamond', Serif; */
}

fieldset.c-yesno-radiobuttons label {
    /* text-align: center; */
    margin: 1rem 0 0 0 !important;
}

.cognito legend {
    display: block;
    text-align: center;
    float: none;
    background: white;
}
.cognito .c-forms-form .c-editor.c-html {
    padding: 1rem;
    width: 75%;
    margin: 0 auto;
    background: #f8f8f4;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
    margin-bottom: 2rem;
}

.c-number-integer label {
    font-size: 1em;
    color: #222222;
}

.c-number-spinner input[type=text] {
    margin: 0;
    height: auto;
    background: white;
    border-color: #222;
}

.cognito .c-forms-form .c-number-spinner button {
    border-color: #222 !important;
    background: #f8f8f4 !important;
}

.c-helptext {
    font-size: 1.2em;
    font-family: 'Cormorant Garamond', Serif;
    text-transform: lowercase;
}

.c-title {
    font-size: 1.2em;
    text-transform: lowercase;
}

.c-section {
    padding: 1rem;
    border: solid 2px #db7089;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
}

.c-choice-radiobuttons legend.c-label {
    text-align: left;
    font-family: 'Cormorant Garamond', Serif;
    font-size: 1.5em;
    text-transform: lowercase;
}

.c-section input[type="text"] { 
	padding: .5rem;
}

.c-name legend {
    font-size: 1.5em;
    font-family: 'Cormorant Garamond', Serif;
    text-transform: lowercase;
}

.c-button-section {
    text-align: center;
}

.cognito .c-action {
    float: none;
    text-align: center;
}

.cognito #c-submit-button {
    float: none;
    height: auto;
}

fieldset.c-choice-radiobuttons span {
    font-size: 1.1em;
    color: #333;
}

/* CheckBox Styling */
input[type="checkbox"] 
    {
    display: none; /* hide original checkbox */
    }
/* checked style for checkbox */
input[type="checkbox"]:checked + label .box 
    { 
    position: relative;
    }
/* check */
input[type="checkbox"]:checked + label .box:after 
    {
    content: '';
    width: 8px;
    height: 4px;
    position: absolute;
    left: 3px;
    top: 2px;
    border: 1px solid #414141;
    border-top: none;
    border-right: none;
    transform: rotate(-45deg);
    }
 /* unckecked style for checkbox */
.box 
    {
    display: inline-block;
    width: 14px;
    height: 14px;
    border-radius: 3px;
    border: 1px solid #c3c3c3;
    float: left;
    margin-right: 7px;
    margin-top: 1px;
    background-image: -moz-linear-gradient(top, #fff, #efefef);
    background-image: -webkit-linear-gradient(top, #fff, #efefef);
    background-image: -ms-linear-gradient(top, #fff, #efefef);
    background-image: linear-gradient(top, #fff, #efefef);

    }
label 
    {
    font: 13px sans-serif;
    color: #3e3e3e;
    }
 /* hover style for checkbox */
label:hover .box 
    {
    border-color: #a5a5a5;
    }
/* active style for checkbox */
label:active .box 
    {
    background-image: -moz-linear-gradient(top, #e7e7e7, #fff);
    background-image: -webkit-linear-gradient(top, #e7e7e7, #fff);
    background-image: -ms-linear-gradient(top, #e7e7e7, #fff);
    background-image: linear-gradient(top, #e7e7e7, #fff);
    }
/* style radio buttons */

input[type=radio] {
   padding-left: 5px;
    padding-right: 5px;
    border-radius: 20px;
    -webkit-appearance: none;
    border: 1px solid #262626;
    color: #FFF;
    white-space: nowrap;
    overflow: hidden;
    width: 17px;
    height: 17px;
    background: white;
    margin-right: 5px;
    margin-top: -5px;
}

input[type=radio]:checked {
   
    background: #db738b;
    border-color: #db738b;
}


/* Text Inputs */
input[type="text"]
    {
    color: #333;
    display: block;
    margin-top: 5px;
    border: 1px solid #debe70;
    height: auto;
    border-radius: 3px;
    background: #ffffff;
    }
input[type="text"]:focus
   {
    border: 1px solid black;
    }
/* Select Box Styling */
select 
    {
    background: #ffffff;
    color: #232323;
    border: 1px solid #dfc075;
    border-radius: 3px;
    margin-top: 5px;
    font-family: sans-serif;
    font-size: 1em;
    margin: 0;
    overflow: hidden;
    padding: .5rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    }
/* Button Styling */
button,
input[type="submit"]
    {
    border: 1px solid #de7e94;
    line-height: 25px;
    background: #db7089;
    color: white;
    padding: .5rem 2rem;
    }
button:hover,
input[type="submit"]:hover
    {
    background: #fce2e9;
    color: #742332;
    }

/* ==========================================================================
	MEDIA QUERIES
	========================================================================== */
@media screen and (max-width: 1000px) {
	.after-list {
	    bottom: -180px;
	    right: calc(150px + 10%);
	}

	#event .left img {
	    max-width: 70%;
	}

	#faqs .split {
	    flex-wrap: wrap;
	}

	#faqs .left {
	    padding: 0;
	    width: 100%;
	}

	#faqs .right {
	    padding: 0;
	    width: 100%;
	}

	#faqs .left::after {
	    display: none;
	} 
}

@media screen and (max-width: 920px) {
	body {
		position: absolute;
	}

	header {
	    display: flex;
	    justify-content: center;
	}

	header::after {
	    height: 50px;
	}

	.hamburger {
		display: flex;
	}
	nav {
	    position: absolute;
	    top: -15vh;
	    padding: 1rem;
	    background: white;
	    border: solid #debf72;
	    border-width: 0px 2px 2px;
	    z-index: -1;
	}
	nav.open {
	    top: 49px;
	}
	.divider::after {
	    background-attachment: inherit;
	    background-size: cover;
	    background-position: center center;
	}
}

@media screen and (max-width: 820px) {
	body {
	    grid-template-columns: 3% repeat(2, 1fr) 3%;
	    grid-column-gap: 10px;
	}

	main {
	    grid-template-columns: 2% repeat(2, 1fr) 2%;
    	grid-column-gap: 1%;
	}

	nav ul {
	    flex-direction: column;
	}

	.history--n {
	    padding: 1rem;
	}

	.weather {
	    padding: 3rem 1rem;
	}

	.list {
	    padding: 1rem;
	}

	.card {
	    padding: 1rem;
	}
	#top {
	    height: auto;
	    padding: 2rem 0 3rem;
	    margin-bottom: 0;
	}

	.countdown {
	    width: 200px;
	    height: 200px;
	    font-size: 2rem;
	}

	img.logo {
	    margin-top: auto;
	    margin-bottom: 2rem;
	}

	body {
	}

	h2 {
	    font-size: 2.5rem;
	    line-height: 2.5rem;
	}

	.svg-before {
	    left: 25%;
	    width: 50%;
	}

	.svg-after {
	    width: 50%;
	    right: -10%;
	}

	.weather-box {
	    flex-wrap: wrap;
	}

	.avg, .day {
	    width: 100%;
	    padding: 0;
	    padding-bottom: 1%;
	    margin-bottom: 1%;
	}

	.avg::after {
	    height: 3px;
	    width: 100%;
	    top: auto;
	    bottom: 0;
	}

	.day {
	    padding-bottom: 0;
	    padding-top: 2%;
	}

	.high, .low {
	    display: block;
	    text-align: center;
	    width: 100%;
	}

	.split {
	    flex-wrap: wrap;
	}

	.left {
	    width: 100%;
	    margin: 0;
	}

	.left::after {
		display: none;
	}

	.right {
	    margin: 0;
	    width: 100%;
	}

	.list ul {
	}

	.after-list {
	    right: auto;
	    left: 0;
	    width: 90%;
	    bottom: -23%;
	    height: 25%;
	    background-position: center;
	}

	.svg-before.large {
	    width: 50%;
	    left: -10%;
	    top: -15%;
	}

	.svg-after.small {
	    width: 60%;
	    bottom: -30%;
	}

	.welcome-dinner, .ceremony, .reception {
	    flex-wrap: wrap;
	}

	.accordion h3 {
	    font-size: 1.5em;
	}

	.cognito .c-forms-form .c-editor.c-html {
	    width: 100%;
	    padding: .5em;
	}

	.cognito legend {
	    line-height: 2rem;
	}
	#rsvp .svg-before.large {
	    width: 50%;
	    top: -30%;
	}
}


@media screen and (max-width: 600px) {
  
}